*{
 margin: 0;
 padding: 0; 
 background-color: aqua;
}

h1{
  text-align: center;
  padding-top: 5px;
  font-size: 50px;
}

hr{
  width: 86.50%;
}

.content{
  display: grid;
  justify-content: center;
  flex-wrap:wrap-reverse;
  margin-top: 225px;
}


.count {
  text-align: center;
  font-size: 85px;
  padding-right: 25px;
}


.btn{
 
  font-size: 25px;
  width: 390px;
  height:55px;
  border-radius: 8px;
  color:blueviolet;
}

.btn:hover{
  color:cadetblue;
  font-size: 30px;
}